<a href="https://colab.research.google.com/github/Justinr2940/Summer-Micro-Credential/blob/main/Python_Basics_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Intro to Python Part III

##Conditional & Loops!!

###Conditionals
###If...ELIF...ELSE Statements!!!

In [1]:
"""
if(condition):
  do something
"""

'\nif(condition);\n  do something\n'

In [3]:
if 3 > 2: 
  print("right")
#Set condtional statement to print right if 3 is greater than 2

right

In [5]:
if 4 > 7:
  print("right") #Set conditional statement to print right if 4 is greater than 7
else:
  print("wrong") #prints wrong if condtional statement is not correct

wrong

In [8]:
a = 3
b =  5
if a > b: #set condtional statement using 2 declared variables
  print('yes it is right') #prints 'yes it is right' if conditonal statement is correct 
else:
  print('Try again')# prints 'try again 'if conditonal statement is wrong

Try again

In [15]:
drink = "coke" 
if drink == "Coffee": #Set conditonal statement using ariable drink
  print("Humanity runs on coffee")#If condtional statment is correct will print this outcome
elif(drink == "Water"):#creates other conditonal statement to cover a seperate outcome
  print("Water is the soul of the earth")# Seperate outcome
elif(drink == "coke"):#Another conditional statement
  print("coke")

coke

###Loops

####For Loops

In [ ]:
'''
for iterator in array:
  do something
'''

In [16]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
for num in my_list: #basic for loop
  print(num)

1
2
3
4
5
6
7
8
9
10

In [19]:
for i in my_list: # basic for loop
  if (i % 2 == 0): #Conditional statement to set for loop to look for number divisible by 2
    print(i)

2
4
6
8
10

In [20]:
for i in my_list:
  if (i % 2 == 1):
    print(i)

2
4
6
8
10

In [24]:
my_list = [1, 2, 3, 4, 5]
list_sum = 0;
for num in my_list:
  list_sum = list_sum + num # for loop to add all numbers within a list
print(list_sum)

15

In [25]:
my_string = "Hello World"

for x in my_string:
  print(x) # for loop to pring out all letters in a sting

H
e
l
l
o

W
o
r
l
d

In [26]:
my_list = [(1,2 ), (3, 4),(5, 6), (7, 8)]
len(my_list)

4

In [27]:
for tup in my_list:
  print(tup) # for loop to print list that contains tupples

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [31]:
for a, b in my_list:
  print(a,b ) #for loop that prints out each tupple seperatly and not in a set

1 2
3 4
5 6
7 8

In [32]:
my_list = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in my_list:
  print(b, c)# for loop to print out only 2 numbers out each tupple

2 3
5 6
8 9

In [33]:
my_dict = {'k1' : 1, 'k2':2, 'k3':3}
for i in my_dict:
  print(i) #for loop to print out keys within a dictionary

k1
k2
k3

In [34]:
my_dict.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [36]:
for i in my_dict.items():
  print(i) #For loop to print out both keys and items within a dictionary

('k1', 1)
('k2', 2)
('k3', 3)

In [37]:
for a,b in my_dict.items(): 
  print(b) # for loop to print out only items in the dictionary by providing 2 variables a and b on for keys and on for items

1
2
3

####While Loops

In [38]:
i = 0
while ( i < 5):
  print(i)
  i = i+1

0
1
2
3
4

In [40]:
i = 5

while i < 5:
  print(i)
  i = i+1
else: 
  print("i is not less than 5")

i is not less than 5

####Pass, Break, and continue

In [41]:
i = [1, 2, 3, 4, 5]

for items in i:
  pass
print("I will work after")

I will work after

In [43]:
my_string = "Hello world"

for letters in my_string:
  if letters == "r":
    break
  print(letters)

H
e
l
l
o

w
o

In [50]:
my_string = "Hello World"

for letters in my_string:
  if letters == "e":
    continue
  print(letters)

H
l
l
o

W
o
r
l
d

In [51]:
i = 0
while i < 5:
  if i == 3:
    break
  print(i)
  i = i+1

0
1
2

##Most used built-in funtions in python

###Range Function

In [52]:
for num in range(10):
  print(num)

0
1
2
3
4
5
6
7
8
9

In [53]:
for num in range(3, 10):
  print(num)

3
4
5
6
7
8
9

In [54]:
for num in range(0, 11, 2):
  print(num)

0
2
4
6
8
10

In [55]:
my_list = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
range(10)
list(range(10))
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

###Enumerate

In [56]:
word = "Batman"
for items in word:
  print(items)

B
a
t
m
a
n

In [57]:
for items in enumerate(word):
  print(items)

(0, 'B')
(1, 'a')
(2, 't')
(3, 'm')
(4, 'a')
(5, 'n')

In [58]:
for a, b in enumerate(word):
  print(a)
  print(b)
  print('\n')

0
B


1
a


2
t


3
m


4
a


5
n

In [59]:
list1 = [1, 2, 3, 4, 5]
list2 = ['a', 'b', 'c','d', 'e']
list3 =['a', 'b', 'd']

In [60]:
list4 = zip(list1, list2)

In [61]:
print(list4)

<zip object at 0x7f72c09f86e0>

In [62]:
for items in zip(list1, list2):
  print(items)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

In [64]:
for a, b in zip(list1, list2):
  print(a, b)

1 a
2 b
3 c
4 d
5 e

In [65]:
for items in zip(list1, list2, list3):
  print(items)

(1, 'a', 'a')
(2, 'b', 'b')
(3, 'c', 'd')

In [66]:
for a, b, c in zip(list1, list2, list3):
  print(b)

a
b
c